h1 {
    background: lightgreen;
    color: green;
}

.container-fluid {
    background: purple;
    padding: 10px;
}

.container {
    padding: 200px;
    background: lightblue;
}

body {
    background: orchid;
}