h1 {
    background: lightgreen;
    color: green;
}

.container-fluid {
    background: purple;
    padding: 10px;
}

body {
    background: orchid;
}

.container {
    background: lightblue;
}

form {
    margin-top: 100px;
}

.btn {
    float: right;
    margin-top: -70px;
}