h1 {
    background: lightgreen;
    color: green;
}

.container-fluid {
    background: purple;
    padding: 10px;
}

.container {
    padding: 100px;
    background-color: lightblue;
}

.figure-img {
    width: 350px;
    height: 350px;
}